easyocr
opencv-python-headless
torch
torchvision
scikit-image
numpy
Pillow
python-bidi
PyYAML
Shapely
pyclipper
ninja
filelock
typing-extensions
sympy
networkx
jinja2
fsspec
setuptools
mpmath
MarkupSafe
imageio
tifffile
packaging
lazy-loader
